<div class="classifiche-page">
    <h1 style="font-size: 50px;">Ristoranti e utenti migliori</h1>
    <div class="most-rewarded">

    <div class="most-rewarded-restaurants">
        <h2>Ristoranti</h2>
        <div class="most-rewarded-rest-box">
            <p style="font-weight: bolder; color: #00b072;">1</p>
            <div class="name-and-stars">
                <h3>Nome Ristorante</h3>
                <p style="font-weight: bold;">5 <span style="font-weight: normal;"><ion-icon name="star" style="font-size: 15px;"></ion-icon></span></p>
                <p style="font-style: italic;">numero recensioni</p>
            </div>
        </div>
        <hr class="solid" id="divider">
        <div class="most-rewarded-rest-box">
            <p style="font-weight: bolder; color: #00b072;">2</p>
            <div class="name-and-stars">
                <h3>Nome Ristorante</h3>
                <p style="font-weight: bold;">5 <span style="font-weight: normal;"><ion-icon name="star" style="font-size: 15px;"></ion-icon></span></p>
                <p style="font-style: italic;">numero recensioni</p>
            </div>
        </div>
        <hr class="solid" id="divider">
        <div class="most-rewarded-rest-box">
            <p style="font-weight: bolder; color: #00b072;">3</p>
            <div class="name-and-stars">
                <h3>Nome Ristorante</h3>
                <p style="font-weight: bold;">5 <span style="font-weight: normal;"><ion-icon name="star" style="font-size: 15px;"></ion-icon></span></p>
                <p style="font-style: italic;">numero recensioni</p>
            </div>
        </div>
        <hr class="solid" id="divider">
        
        </div>
        <div class="most-rewarded-users">
            <h2>Utenti</h2>
            <div class="most-rewarded-user-box">
                <p style="font-weight: bolder; color: #00b072;">1</p>
                <%= image_tag 'background.jpg'%>   

            <div class="name-and-stars">
                <h3>Nome Utente</h3>
                <p style="font-weight: bold;">Punti: <span style="font-weight: normal;">Punti</ion-icon></span></p>
                <p style="font-style: italic;">numero recensioni</p>
            </div>
            </div>
            <hr class="solid" id="divider">
            <div class="most-rewarded-user-box">
                <p style="font-weight: bolder; color: #00b072;">2</p>
                <%= image_tag 'background.jpg'%>   

            <div class="name-and-stars">
                <h3>Nome Utente</h3>
                <p style="font-weight: bold;">Punti: <span style="font-weight: normal;">Punti</ion-icon></span></p>
                <p style="font-style: italic;">numero recensioni</p>
            </div>
            </div>
            <hr class="solid" id="divider">
            <div class="most-rewarded-user-box">
                <p style="font-weight: bolder; color: #00b072;">3</p>
                <%= image_tag 'background.jpg'%>   

            <div class="name-and-stars">
                <h3>Nome Utente</h3>
                <p style="font-weight: bold;">Punti: <span style="font-weight: normal;">Punti</ion-icon></span></p>
                <p style="font-style: italic;">numero recensioni</p>
            </div>
            </div>
            <hr class="solid" id="divider">

            
        </div>

    </div>
    <h3 style="font-size: 40px;">Classifiche di competizioni a cui partecipi</h3>


</div>

