<%= stylesheet_link_tag 'support', media: 'all' %>
    <div class="support-container">
        <div class="header-FAQ">
            <h1 class="header-title-FAQ">FAQ</h1>
            <p class="header-desc-FAQ">Frequently Asked Questions</p>
            
        </div>

        <!-- FAQ -->
        <div class="faq">
            <div class="faq-name">
                <h1 class="faq-header">Hai<br>domande?</h1>
                <img class="faq-img" src="https://cdni.iconscout.com/illustration/premium/thumb/faq-4550344-3779152.png?f=webp">
            </div>
            <div class="faq-box">
                <div class="faq-wrapper">
                    <input type="checkbox" class="faq-trigger" id="faq-trigger-1">
                    <label class="faq-title" for="faq-trigger-1">Come posso lasciare una recensione sul vostro sito?</label>
                    <div class="faq-detail">
                        <p>Per lasciare una recensione, basta cercare il ristorante di tuo interesse tramite la nostra barra di ricerca, cliccare sul nome del ristorante, e poi selezionare l'opzione "Lascia una recensione". Ti verrà richiesto di effettuare l'accesso o registrarti se non lo hai ancora fatto.</p>
                    </div>
                </div>
                <div class="faq-wrapper">
                    <input type="checkbox" class="faq-trigger" id="faq-trigger-2">
                    <label class="faq-title" for="faq-trigger-2">Le recensioni sono verificate?</label>
                    <div class="faq-detail">
                        <p>Sì, tutte le recensioni vengono sottoposte a un processo di verifica. Le recensioni sono pubblicate solo dopo che abbiamo confermato che provengono da clienti reali che hanno effettivamente visitato il ristorante.</p>
                    </div>
                </div>
                <div class="faq-wrapper">
                    <input type="checkbox" class="faq-trigger" id="faq-trigger-3">
                    <label class="faq-title" for="faq-trigger-3">Posso modificare o cancellare una mia recensione?</label>
                    <div class="faq-detail">
                        <p>Sì, puoi modificare o cancellare la tua recensione in qualsiasi momento. Basta accedere al tuo profilo, trovare la recensione che desideri modificare o cancellare, e utilizzare le opzioni fornite accanto alla recensione stessa.</p>
                    </div>
                </div>
                <div class="faq-wrapper">
                    <input type="checkbox" class="faq-trigger" id="faq-trigger-4">
                    <label class="faq-title" for="faq-trigger-4">Come vengono calcolate le valutazioni dei ristoranti?</label>
                    <div class="faq-detail">
                        <p>Le valutazioni dei ristoranti sono calcolate come media ponderata delle valutazioni ricevute da tutti i clienti. Consideriamo diversi fattori, tra cui la qualità del cibo, il servizio, l'ambiente e il rapporto qualità-prezzo.</p>
                    </div>
                </div>
                <div class="faq-wrapper">
                    <input type="checkbox" class="faq-trigger" id="faq-trigger-5">
                    <label class="faq-title" for="faq-trigger-5">Cosa devo fare se trovo una recensione inappropriata o falsa?</label>
                    <div class="faq-detail">
                        <p>Se trovi una recensione che ritieni inappropriata o falsa, puoi segnalarla cliccando sull'icona del segnalino accanto alla recensione stessa. Il nostro team di moderazione esaminerà la tua segnalazione e prenderà le misure appropriate, che possono includere la rimozione della recensione.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>