<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Critico</title>
  
  </head>
  <body>

    <div class="profile-container">
      <div class="profile-pic">
        <img src="<%= asset_path 'default-profile-image.png' %>" alt="Foto Profilo">>
      </div>

      <div class="personal-fields">
        <a class="field">Nome: </a><br>
        <a class="field">Cognome: </a><br>
        <a class="field">Data di nascita: </a><br>
        <a class="field">Certificato: </a>
      </div><br>

      <div class="statistics">
        <a class="field"><i class="fa fa-star" aria-hidden="true"></i> Stelle assegnate: </a><br>
        <a class="field"><i class="fa fa-commenting" aria-hidden="true"></i> Recensioni scritte: </a><br>
        <a class="field">Repost: </a><br>
        <a class="field"><i class="fa fa-users" aria-hidden="true"></i> Seguiti: </a>
      </div><br>

      <a class="section">STORIES SOCIAL</a><br>
      <div class="stories">
        <button>carica storia</button>
      </div><br>

      <a class="section">RECENSIONI</a><br>
      <div class="recensioni">
        Nessuna recensione al momento
      </div><br>

      <a class="section">EVENTI</a><br>
      <div class="eventi">
        Nessun evento al momento
      </div>

      <a class="section">RACCOLTE</a><br>
      <div class="raccolte">
        Non è stata creata alcuna raccolta
      </div>
    </div>

    
  </body>
</html>
