<div class="about-container" style="margin-top: 130px; display: flex; flex-direction: column; align-items: center; justify-content: center; ">
    <h1 style="font-size: 40px;">Informazioni su FoodAdvisor</h1>
    <div class="info-container" style="width: 70vh; margin-top: 30px; margin-bottom: 30px;">
        <h3>Che cos'è FoodAdvisor?</h3>
        <p>
            FoodAdvisor è un sito dove i ristoratori possono registrare il proprio ristorante e gli utenti possono recensirli.
            Ma a differenza di altri servizi simili, FoodAdvisor garantisce recensioni verificate dai propri admin, completa personalizzazione della vetrina 
            del proprio ristorante e molte altre features. Aggiungi i ristoranti ai preferiti e partecipa a competizioni
            organizzate da FoodAdvisor per guadagnare punti e vincere premi come coupon e sconti speciali. Recensisci più ristoranti possibili per farti notare
            nella pagina delle Classifiche. Se sei un ristoratore, condividi il tuo menu, le tue ricette e gli eventi da te organizzati con gli altri utenti.

        </p>
    </div>
    <div class="team-container" style="width: 70vh;">
        <h3>Il team di FoodAdvisor</h3>
        <p style="font-style: italic;">
            FoodAdvisor nasce come un progetto per il Laboratorio di Architetture Software e Sicurezza Informatica, Università di Roma "La Sapienza" 2023/2024
    </div>
    <div class="team-icons" style="display: flex; gap: 30px; margin-top: 30px;">
        <div class="team-member" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <%= image_tag 'leo.png' %>
            <p>Leonardo Vona</p>
            <p>2002043</p>
        </div>
        <div class="team-member" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <%= image_tag 'nora.png' %>
            <p>Eleonora Marino</p>
            <p>1984826</p>
        </div>
        <div class="team-member" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <%= image_tag 'andrea.png' %>
            <p>Andrea Pulsoni</p>
            <p>1995669</p>
        </div>
        <div class="team-member" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <%= image_tag 'giorgio.png' %>
            <p>Giorgio Tuccinardi</p>
            <p>1984778</p>
        </div>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script> 
<script type="text/javascript" src="cssanimation-gsap.js"></script>