<div class="profilo_admin">
    <h1>AdminProfile <% @current_user.admin.nome %> </h1>
    <p>Notifiche nuovi utenti</p>
    <div class="notifiche_admin">
        jhgvj
    <div>

    <p>Segnalazioni</p>
    <div class="segnalazioni_admin">
        frf
    <div>
        
    <p>Comunicazioni</p>
    <div class="comunicazioni_admin">
        <div class="intestazione_comunicazione">
            <p>A:</p>
        </div>
    <div>
<div>
