<footer>
    <div class="footerContainer">
        
        <div class="footerNav">
            <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="<%= support_index_path %>">FAQ</a></li>
                <li><a href="<%= about_index_path %>">About</a></li>
                <li><a href="<%= supporto_path %>">Contact Us</a></li>
            
            </ul>
        </div>
    </div>
</footer>
