<footer>
    <div class="footerContainer">
        <div class="socialIcons">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footerNav">
            <ul>
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="<%= support_index_path %>">FAQ</a></li>
                <li><a href="">About</a></li>
                <li><a href="<%= supporto_path %>">Contact Us</a></li>
                <li><a href="">Our Team</a></li>
            
            </ul>
        </div>
    </div>
</footer>
