<header>
    <a><h1>FoodAdvisor</h1></a>

    <nav id="homepage-nav">
            <a href="#">Homepage</a>
            <a href="#">Ristoranti</a>
            <a href="#">Classifica</a>
            <a href="#"><ion-icon name="trophy"></ion-icon></a>
            <a href="#" class="active"><ion-icon name="person-circle-outline"></ion-icon></a>
    </nav>
</header>
