@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

.classifica {
    margin-top: 100px; /* Sposta il corpo verso il basso di 100px */
}

.reccomanded {
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(90deg, #228B22, #32CD32, #7CFC00, #ADFF2F, #00FF7F);
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient-animation 15s ease-in-out infinite; /* Durata aumentata a 15s */
    padding: 10px 20px; /* Spaziatura interna */
    border: 2px solid #32CD32; /* Bordo per rendere l'ovale visibile */
    border-radius: 50px; /* Crea l'effetto ovale */
    text-align: center;
    margin-bottom: 20px;
    margin-left: 10%;
}

.ranks {
    display: flex;
    border: 2px solid #32CD32; /* Bordo per rendere l'ovale visibile */
    border-radius: 20px; /* Crea l'effetto ovale */
    flex-direction: row; /* Imposta le sezioni in fila orizzontale */
    justify-content: space-around; /* Spazia le sezioni uniformemente */
    margin-bottom: 20px;
}

.rank {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: #f0f0f0;
}

.all {
    font-size: 24px;
    text-decoration: none;
    color: #228B22;
    font-weight: bold;
    margin-top: 20px;
    display: inline-block;
    margin-left: 10%;
    font-size: 38px;
}

.all:hover {
    color: #7CFC00;
}
