// Place all the styles related to the critic_profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.impegniPersonali {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.impegniSinistra {
    width: 50%;
}

.impegniDestra {
    width: 50%;
}

.booking-indicator {
    background-color: #439e69;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: auto;
    margin-top: 2px;
  }
  
