/* Contenitore principale con flexbox */
.flex-container-info {
    display: flex;
}

/* Stile delle colonne */
.column {
    flex: 1;
    margin: 0 10px;
}

/* Stile delle sezioni */
.i-section {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.prenotazione {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  /* Stile per l'immagine */
  .pren-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
  }
  
  /* Stile per le informazioni */
  .pren-info {
    flex: 1;
    text-align: center;
  }
  
  /* Stile per le icone */
  .pren-icon {
    display: flex;
    gap: 10px;  /* Spazio tra le icone */
  }
  
  .pren-icon i {
    cursor: pointer;
    font-size: 24px;  /* Regola la dimensione delle icone come preferisci */
  }


/* Stile per la sezione delle informazioni sui dipendenti */
.employees-section {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}
.dipendente {
    margin: 1%;
    padding: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 200px;
    height: fit-content;
}
.dip-foto {
    width: 100%;  /* Puoi regolare la larghezza come preferisci */
    height: 80px;
    border-radius: 10px;
    object-fit: cover;
}

/* per le statistiche */
.statistiche {
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    background-color: #f9f9f9;
    text-align: center;
  }
  
  .statistiche canvas {
    max-width: 100%;
    height: auto;
  }

  /* per il calendario */

  /* Stile per il mese */
.month {
    font-size: 24px;
    background-color: #1f4728;
    color: white;
    border-radius: 10px 10px 0 0;
    padding: 1%;
  }
  
  /* Stile per i giorni della settimana */
  .weekdays {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 1%;
  }
  
  .weekday {
    flex: 1;
    text-align: center;
  }
  
  /* Stile per i giorni del mese */
  .days {
    display: flex;
    flex-wrap: wrap;
    border-radius: 0 0 10px 10px; // agg
    border: 1px solid #ccc; // agg
  }
  
  .day {
    width: calc(100% / 7);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .empty {
    visibility: hidden;
  }

  .prenotazione img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
  }

  


