.login-page{
    background-image: image-url('background.jpg');
    backdrop-filter: blur(60%);
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.input-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.password-forgot-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rememberme-container{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rememberme-container input{
    size: 20px;
}


.password-forgot-container p{
    font-size: 13px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    width: 500px;
    padding: 20px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32); 


}

ion-icon{
    font-size: 30px;
}

#login-btn{
    border: none;
    background-color: #00b072;
    padding: 10px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#login-btn ion-icon{
    font-size: 20px;
}

#login-btn:hover{
    filter: brightness(140%);
}

.login-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-type{
    color: #386641;
    cursor: pointer;
}

#divider{
    border: 0.1px solid rgba(99, 99, 99, 0.413);
    margin-top: 20px;
    margin-bottom: 20px;
    
}

#login-label{
    font-weight: bold;
    color: #386641;
}

#login-input{
    border-radius: 5px;
    border: 1px solid #386641;
    padding: 5px;
}

#login-form{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}

