.menu {
    text-align: center;
}
.categoria-cibo {
    margin-bottom: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.piatto {
    border: 1px solid #ccc;
    width: 150px;
    height: 250px;
    padding: 1%;
    margin: 1%;
    border-radius: 10px;
    display: inline-block;
}
.foto-piatto {
    width: 100%;
    height: 70px;
    border-radius: 10px;
}
.info-piatto {
    /*font automatici*/
    margin-top: 4px;
}

.nuovo-piatto {
    border: 2px dashed #aaa;
    padding: 10px;
    margin: 10px;
}
  
.nuova-categoria {
    border: 2px dashed #aaa;
    padding: 10px;
    margin: 10px;
}