.registration-page {
  background-image: image-url('background.jpg');
  backdrop-filter: blur(60%);
  height: auto;
  display: flex;
  align-items: center;
}

.regForm {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* Imposta i margini automatici per centrare il div */
  border-radius: 10px;
  width: 1000px;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.32);
  margin-top: 130px;
  margin-bottom: 50px;
}

.registrazioniForm {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.regForm h1, .regForm h3 {
  color: #386641;
  margin-bottom: 10px;
}

.regForm h3 {
  font-size: 1.5rem;
}

.regForm label {
  font-weight: bold;
  color: #386641;
  margin-top: 10px;
}

.regForm input[type=text], .regForm input[type=password], .regForm input[type=email], .regForm input[type=date], .regForm input[type=file], .regForm input[type=checkbox] {
  border-radius: 5px;
  border: 1px solid #386641;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}

.regForm input[type=submit] {
  border: none;
  background-color: #00b072;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
  margin-top: 10px;
}

.regForm input[type=submit]:hover {
  filter: brightness(140%);
}

.regForm .input-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.regForm .rememberme-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #386641;
}

.regForm .password-forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.regForm .register-container {
  display: flex; 
  align-items: center; 
  gap: 5px; 
  justify-content: center;
  margin-top: 20px;
}

.regForm .register-container > p {
  color: #386641;
}

.regForm hr {
  border: 0.1px solid rgba(99, 99, 99, 0.413);
  margin-top: 20px;
  margin-bottom: 20px;
}

.regForm ion-icon {
  font-size: 30px;
  color: #386641;
}

.radio-container {
  display: flex;
  gap: 20px; /* Spazio tra ogni radio button */
  align-items: center;
}

.radio-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-container input[type="radio"] {
  margin-right: 5px; /* Spazio tra il radio button e il testo */
}

.disabled-form {
  opacity: 0.5;
  pointer-events: none;
}

@media (prefers-color-scheme: dark) {
  .regForm {
      background-color: #313131;
      color: white;
  }

  .regForm label {
      color: white;
  }

  .regForm input[type=text], .regForm input[type=password], .regForm input[type=email], .regForm input[type=date], .regForm input[type=file], .regForm input[type=checkbox] {
      border: 1px solid #ccc;
  }

  .regForm .rememberme-container {
      color: white;
  }

  .regForm .register-container > p {
      color: white;
  }

  .regForm ion-icon {
      color: white;
  }
}
