// Place all the styles related to the Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
/* app/assets/stylesheets/registrations.scss */

/* Stile per il modulo di registrazione */
form {
    width: 400px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  
    .field {
      margin-bottom: 15px;
    }
  
    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"],
    input[type="telephone"],
    input[type="date"] {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  
    .actions {
      text-align: center;
  
      input {
        padding: 10px 20px;
        background-color: #5cb85c;
        border: none;
        border-radius: 3px;
        color: white;
        cursor: pointer;
  
        &:hover {
          background-color: #4cae4c;
        }
      }
    }
  }
  