  
  .night-mode {
    background-color: #333;
    color: #fff;
  }
  
  .ristorante {
    border: 1px solid #555;
    border-radius: 10px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
  }
  
  .night-mode .ristorante {
    border-color: #555;
  }
  
  .r-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
  }
  
  .r-info {
  
  }
  
  .r-statistiche {
    padding: 1%;
    border: 1px solid #555;
    border-radius: 10px;
  }
  
  .night-mode .r-statistiche {
    border-color: #555;
  }
  
  .r-stat {
    display: flex;
    flex-direction: column;
  }
  
  .r-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .r-tag {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
  }
  
  .r-tag.pub {
    background-color: #ffc107; /* Colore giallo */
  }
  
  .r-tag.famiglie {
    background-color: #28a745; /* Colore verde */
  }
  
  .r-stories {
    padding: 1%;
    border: 1px solid #555;
    border-radius: 10px;
  }
  
  .night-mode .r-stories {
    border-color: #555;
  }
  
  .r-storia {
  
  }
  
  .r-recensioni {
    padding: 1%;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .night-mode .r-recensioni {
    border-color: #555;
  }
  
  .r-recensione {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .night-mode .r-recensione {
    border-color: #777;
  }
  
  .recensione-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
  }
  
  .recensione-info {
    text-align: center;
  }
  
  .recensione-icon {
    cursor: pointer;
    font-size: 24px;  /* Regola la dimensione delle icone come preferisci */
  }
  
  .r-ricette {
    padding: 1%;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .night-mode .r-ricette {
    border-color: #555;
  }
  
  .r-ricetta {
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 120px;
    height: 160px;
  }
  
  .night-mode .r-ricetta {
    border-color: #555;
  }
  
  .ricetta-foto {
    width: 120px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .ricetta-info {
    padding: 5px;
  }
  
  .r-eventi {
    padding: 1%;
    border: 1px solid #555;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .night-mode .r-eventi {
    border-color: #555;
  }
  
  .r-evento {
    margin: 1%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 120px;
    height: 180px;
  }
  
  .night-mode .r-evento {
    border-color: #555;
  }
  
  .evento-foto {
    width: 120px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  .evento-info {
    padding: 5px;
  }
  