.ristorante {
    border: 1px solid black;
    padding: 1%;
    display: flex;
    justify-content: space-between;

}
.r-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
}
.r-info {

}
.r-statistiche {
    padding: 1%;
    border: 1px solid black;

}
.r-stat {
    display: flex;
    flex-direction: column;
}
.r-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }
  
  .r-tag {
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
  }
  
.r-tag.pub {
    background-color: #ffc107; /* Colore giallo */
}
  
.r-tag.famiglie {
    background-color: #28a745; /* Colore verde */
}



.r-stories {
    padding: 1%;
    border: 1px solid black;
}
.r-storia {

}
.r-recensioni {
    padding: 1%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.r-recensione {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 100%;
}
.recensione-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
}
.recensione-info {
    text-align: center;
}
.recensione-icon {
    cursor: pointer;
    font-size: 24px;  /* Regola la dimensione delle icone come preferisci */
}
.r-ricette {
    padding: 1%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.r-ricetta {
    margin: 1%;
    border: 1px solid black;
    width: 100px;
    height: 120px;
}
.ricetta-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
}
.r-eventi {
    padding: 1%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}
.r-evento {
    margin: 1%;
    border: 1px solid black;
    width: 100px;
    height: 160px;
}
.evento-foto {
    width: 100px;  /* Puoi regolare la larghezza come preferisci */
    height: auto;
}