.s-section {
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#del-acc-btn{
    padding: 10px;
    color: white;
    background-color: red;
    border-radius: 10px;
    border: none;
}
