<div class="favourites" style="display: flex; flex-direction: column;">
    <h1>Eventi Preferiti </h1>
    <div class="p-user-fav-events">
        <div class="restaurant-box">
              <%= image_tag 'background.jpg', class: 'evento-foto' %>
            <div class="text-overlay" style="background-color: white; text-shadow: none; color: black; bottom: 0; left: 0; width: 100%; border-radius: 0; border: 1px solid #c9c9c9;">
              <p>Nome evento</p>
              <p style="font-size: 13px; font-weight: normal;">Desc evento</p>
              <p style="font-size: 13px; font-weight: normal;">Data evento</p>
              <p style="font-size: 13px; font-weight: normal;">Luogo</p>
            </div>
          </div>
          
    </div>
    <hr id="divider" class="solid">

</div>