<%= stylesheet_link_tag 'login', media: 'all' %>


<body>

    <div class="login-page">
        <div class="login-container">
            <div class="login-form-container">
                <h1 style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center; gap: 10px;">Login Utente<span><ion-icon name="person"></ion-icon></span></h1>
                <form id="login-form">
                    <div class="input-container">
                        <label for="username" id="login-label">Nome Utente</label>
                    <input type="text" id="login-input">
                    </div>
                    <div class="input-container">
                        <label for="password" id="login-label">Password</label>
                        <input type="password" id="login-input">
                    </div>

                    <div class="rememberme-container">
                        <label for="checkbox" id="login-label" style="font-weight: normal; color: black;">Ricordami</label>
                        <input type="checkbox"></span>
                    </div>
                    
                    
                    <button type="submit" id="login-btn">Accedi</button>
                    <hr class='solid' id='divider'>
                    <button type="submit" id="login-btn" style="background-color: rgb(6, 176, 176); margin-bottom: 10px;"><ion-icon name="logo-google"></ion-icon>Accedi con Google</button>
                    <button type="submit" id="login-btn" style="background-color: rgb(97, 35, 195);"><ion-icon name="logo-facebook"></ion-icon>Accedi con Facebook</button>



                    <div class="password-forgot-container">
                        <p id="forgot-password">Ho dimenticato la password</p>

                    </div>
                    <div class="register-container" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
                        <hr class='solid' style="width: 25%;" id='divider'>
                        <p style="font-size: 13px; color: #386641; cursor: pointer;">Iscriviti</p>
                        <hr class='solid' style="width: 25%;" id='divider'>


                    </div>
                </form>
            </div>
        </div>
        <div class="login-container">
            <div class="login-form-container">
                <h1 style="margin-bottom: 20px; display: flex; align-items: center; justify-content: center; gap: 10px;">Login Ristoratore<span><ion-icon name="pizza"></ion-icon></span></h1>
                <form id="login-form">
                    <div class="input-container">
                        <label id="login-label">P. IVA</label>
                    <input type="text" id="login-input">
                    </div>
                    <div class="input-container">
                        <label for="password" id="login-label">Password</label>
                        <input type="password" id="login-input">
                    </div>

                    <div class="rememberme-container">
                        <label for="checkbox" id="login-label" style="font-weight: normal; color: black;">Ricordami</label>
                        <input type="checkbox"></span>
                    </div>
                    
                    
                    <button type="submit" id="login-btn">Accedi</button>
                    <hr class='solid' id='divider'>


                    <div class="password-forgot-container">
                        <p id="forgot-password">Ho dimenticato la password</p>

                    </div>
                    <div class="register-container" style="display: flex; align-items: center; gap: 5px; justify-content: center;">
                        <hr class='solid' style="width: 25%;" id='divider'>
                        <p style="font-size: 13px; color: #386641; cursor: pointer;">Diventa un ristoratore</p>
                        <hr class='solid' style="width: 25%;" id='divider'>


                    </div>

                </form>
            </div>
        </div>
    </div>

