
<h1>dashboard</h1>
<div class="profile-container">
      <div class="personal-fields">
        <a class="field">Nome: </a><br>
        <a class="field">Cognome: </a><br>
        <a class="field">Data di nascita: </a><br>
        <a class="field">Certificato: </a>
      </div><br>

      <div class="statistics">
        <a class="field">Stelle assegnate: </a><br>
        <a class="field">Recensioni scritte: </a><br>
        <a class="field">Repost: </a><br>
        <a class="field">Seguiti: </a>
      </div><br>

      <a class="section">STORIES SOCIAL</a><br>
      <div class="stories">
        <button>carica storia</button>
      </div>
</div>
