<h1>Impostazioni</h1>

<p>
  <strong>Font:</strong>
  <%= @setting.font %>
</p>

<p>
  <strong>Dimensione del testo:</strong>
  <%= @setting.font_size %>
</p>

<p>
  <strong>Tema:</strong>
  <%= @setting.theme == 'day' ? 'Giorno' : 'Notte' %>
</p>

<%= link_to 'Modifica Impostazioni', edit_settings_path %>

<p>Gestisci le notifiche</p>
<p>Tag di preferenza</p>
<p>Elimina l'account</p>

